        textarea {
            width: 99%;
            height: 200px;
            font-size: 14px;
            padding: 8px;
            box-sizing: border-box
        }

        .result {
            white-space: pre-wrap;
            background: #f7f7f7;
            padding: 10px;
            border: 1px solid #ddd
        }

        #relatorios {
            max-height: 240px;
            overflow-y: auto
        }

        #relatorios>div {
            background: #fff;
            margin: 6px 0;
            padding: 8px;
            border-radius: 6px
        }

        .btn-save {
            background: #ff0000ff;
            color: white;
            border: none;
            padding: 10px 16px;
            border-radius: 8px;
            cursor: pointer;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
            transition: .1s;
            font-weight: 600;
        }

        .btn-save:hover {
            transform: translateY(-2px);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12)
        }